@model EPageIndexViewModel

@{
    var displayCategory = ViewData["DisplayCategory"] as bool? ?? false;
}

<div class="epage-container">
    <div class="row">
        
        @if (displayCategory)
        {
            <div class="row">
                <div class="col-md-offset-8 col-md-4 text-left epage-category-container">
                    <small class="epage-category">@Model.CategoryName</small>
                </div>
            </div>
        }

        <div class="col-md-8 text-right epage-title-container">
            <a asp-action="Details" asp-controller="EPages" asp-route-id="@Model.Id">
                <strong>@Model.Title</strong>
            </a>
        </div>

        <div class="col-md-4 text-left epage-author-container">
            <span class="author-firstName">
                @Model.FirstName
            </span>
            <span class="author-lastName">
                @Model.LastName
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 text-right epage-description-container">
            <sup>@Model.Description</sup>
        </div>
        <div class="col-md-4 text-left epage-date-container">
            <sup>@Model.DateCreated.ToString("d MMMM")</sup>
        </div>
    </div>

</div>
