@model CommentViewModel

@{
    var isReply = Model.ParentId.HasValue;
}

<article id="comment-@Model.Id" class="clearfix comment @(isReply ? "reply" : string.Empty )">
    <header>

        <div class="col-xs-3 col-sm-2 image">
            <img src="@Url.Content(Model.UploaderAvatarPath)" class="comment-avatar img-responsive" alt="@Model.UploaderDisplayName">
        </div>

        @*<img src="@avatarPath" class="comment-avatar" alt="Аватар"/>*@

        <div class="meta">

            <input type="hidden" class="comment-id" value="@Model.Id" />
            <input type="hidden" class="comment-parent-id" value="@Model.ParentId" />

            @*@if (User.IsAtLeast(StranitzaRoles.Editor))
                {
                    <button type="button" class="close comment-delete" aria-label="Затвори">
                        <span aria-hidden="true">&times;</span>
                    </button>
                }*@

            @if (User.IsAtLeast(StranitzaRoles.Editor))
            {
                <button type="button" class="close comment-edit" aria-label="Редакция">
                    <span aria-hidden="true"><i class="fa fa-edit"></i></span>
                </button>
            }

            <h3>
                @* TODO: Wire this to an author preview page *@
                <a class="comment-author" asp-area="Identity" asp-page="/Account/Manage/Index">@Model.UploaderDisplayName</a>
            </h3>

            @if (Model.ModeratorId != null)
            {
                <span class="date strikethrough">@Model.DateCreated.ToString("dd MMMM yyyy HH:mm")</span>@:,
                <span class="date">@Model.LastUpdated.ToString("dd MMMM yyyy HH:mm") <small>(@Model.ModeratorDisplayName)</small></span>
            }
            else
            {
                <span class="date">@Model.DateCreated.ToString("dd MMMM yyyy HH:mm")</span>
            }

            @if (!isReply && User.IsAtLeast(StranitzaRoles.Editor))
            {
                <span class="separator">
                    -
                </span>

                <a href="#create-comment" class="comment-reply">Отговори</a>
            }

        </div>
    </header>

    <div class="body col-sm-offset-2">
        @if (Model.ModeratorId != null)
        {
            <small>@StranitzaExtensions.BreakNewLines(Model.Content)</small>
        }
        else
        {
            @StranitzaExtensions.BreakNewLines(Model.Content)
        }
    </div>

    @if (Model.ModeratorId != null)
    {
        <div class="body col-sm-offset-2">
            @StranitzaExtensions.BreakNewLines(Model.Note)
        </div>
    }

</article>

@if (Model.Children?.Comments != null)
{
    <partial name="_Comments" model="Model.Children" />
}