@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Списък с категории";
    Layout = "~/Views/Shared/_LayoutLibrary.cshtml";
}

@section breadcrumb {
    <a asp-page="/Account/Manage/Admin" asp-area="Identity">Администрация</a>

    <span class="separator">/</span>

    <a asp-controller="Categories" asp-action="Index">Категории</a>
}

<div class="blog-main col-md-11">

    <h2 class="underlined">Категории на произведенията</h2>    
    <table class="table table-striped table-bordered">
        <thead>
        <tr class="info">
            @if (User.Is(StranitzaRoles.Administrator))
            {
                <th style="width: 40px;" str-sortable-for="Id">@Html.DisplayNameFor(x => x.Id)</th>
            }
            <th str-sortable-for="Name">@Html.DisplayNameFor(x => x.Name)</th>
            <th style="width: 100px;" str-sortable-for="Sources.Count">@Html.DisplayNameFor(x => x.SourcesCount)</th>
            <th style="width: 100px;" str-sortable-for="EPages.Count">@Html.DisplayNameFor(x => x.EPagesCount)</th>
            @*<th class="text-center" style="width: 130px;" str-sortable-for="LastUpdated">@Html.DisplayNameFor(x => x.LastUpdated)</th>*@
            <th class="text-center" style="width: 130px;" str-sortable-for="DateCreated">@Html.DisplayNameFor(x => x.DateCreated)</th>
            @*<th class="text-center">Операции</th>*@
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model)
        {
            <tr class="source-row">
                @if (User.Is(StranitzaRoles.Administrator))
                {
                    <td>@category.Id</td>
                }
                <td><a asp-action="Details" asp-controller="Categories" asp-route-id="@category.Id">@category.Name</a></td>
                <td>@category.SourcesCount</td>
                <td>@category.EPagesCount</td>
                @*<td class="text-center">@category.LastUpdated.ToString("dd.MM.yyyy HH:mm")</td>*@
                <td class="text-center">@category.DateCreated.ToString("dd.MM.yyyy HH:mm")</td>
                @*<td class="operations">
            <a asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id"><sup><i class="fa fa-edit"></i></sup></a>
            <a asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id"><sup><i class="fa fa-trash "></i></sup></a>
        </td>*@
            </tr>
        }
        </tbody>

    </table>

</div>