@model CategorySourcesViewModel

@{
    ViewData["Title"] = $"Свързани източници към категория „{Model.CurrentCategory.Name}“";
    Layout = "~/Views/Shared/_LayoutLibrary.cshtml";
}

@section breadcrumb {
    <a asp-page="/Account/Manage/Admin" asp-area="Identity">Администрация</a>

    <span class="separator">/</span>

    <a asp-controller="Categories" asp-action="Index">Категории</a>

    <span class="separator">/</span>

    <a asp-action="Details" asp-controller="Categories" asp-route-id="@Model.CurrentCategory.Id">@Model.CurrentCategory.Name</a>

    <span class="separator">/</span>

    <a asp-action="Sources" asp-controller="Categories" asp-route-id="@Model.CurrentCategory.Id">Свързани източници</a>
}

<div class="col-md-11 blog-main">

    <h2>@Model.CurrentCategory.Name</h2>

    @*<pre class="help-block">@Model.CurrentCategory.Description</pre>*@

    <hr />
    
    @if (Model.Records.Any())
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="info">
                    @if (User.Is(StranitzaRoles.Administrator))
                    {
                        <th style="width: 40px;" str-sortable-for="Id">№</th>
                    }
                    <th str-sortable-for="Title">Заглавие</th>
                    <th str-sortable-for="Origin">Произход</th>
                    <th str-sortable-for="Uploader">Качил</th>
                    @*<th style="width: 120px;" str-sortable-for="LastUpdated">Промяна на</th>*@
                    <th class="text-center" style="width: 120px;" str-sortable-for="DateCreated">Създаден</th>
                </tr>
            </thead>
            <tbody>

            @foreach (var source in Model.Records)
            {
                var hasTitle = !string.IsNullOrEmpty(source.Title);
                var sourceTitle = hasTitle ? source.Title : "ЛИПСВА ЗАГЛАВИЕ";
                var sourceLink = hasTitle ? Url.Action("Details", "Sources", new { id = source.Id }) 
                    : Url.Action("Edit", "Sources", new { id = source.Id });

                <tr class="source-row @(!hasTitle ? "warning" : string.Empty)">
                    @if (User.Is(StranitzaRoles.Administrator))
                    {
                        <td>@source.Id</td>
                    }
                    
                    <td>
                        @if (source.IssueId.HasValue)
                        {
                            // issue found - display external link
                            <a href=@sourceLink>@sourceTitle<sup><i class="fa fa-external-link"></i></sup></a>
                        }
                        else
                        {
                            // not associated - display search icon
                            <a href="@sourceLink">@sourceTitle<sup><i class="fa fa-search"></i></sup></a>
                        }
                    </td>

                    @if (!string.IsNullOrEmpty(source.AuthorId))
                    {
                        <td><a href="@Url.Action("Details", "Users", new { id =source.AuthorId })">@source.Origin<sup><i class="fa fa-user"></i></sup></a></td>
                    }
                    else
                    {
                        <td>@source.Origin</td>
                    }

                    <td class="text-center">@source.Uploader</td>
                    @*<td class="text-center">@source.LastUpdated.ToString("dd.MM.yyyy HH:mm")</td>*@
                    <td class="text-center">@source.DateCreated.ToString("dd.MM.yyyy HH:mm")</td>
                </tr>

            }
            </tbody>
        </table>
    }
    else
    {
        <p>
            Няма намерени свързани източници към категорията.
        </p>
    }
    
    @*<partial name="_Paging" model="Model" view-data='new ViewDataDictionary(ViewData) { { "Next", "Напред" }, { "Previous", "Назад" } }'/>*@
    @await Html.PartialAsync("_Paging", Model, new ViewDataDictionary(ViewData) { { "Next", "Напред" }, { "Previous", "Назад" } })
    
</div>