@model IndexViewModel

@{
    ViewData["Title"] = "Индекс";    
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

@section breadcrumb {
    <a href="@Url.Action("Index", "Sources")">Индекс</a>
        
    @if (Model.CurrentCategoryId.HasValue)
    {
        <span class="separator">/</span>    
        <a href="@Url.Action("Index", "Sources", new { category = Model.CurrentCategoryId })">@Model.CategoriesFilter.Single(x => x.CategoryId == Model.CurrentCategoryId).Category</a>
    }
        
    @if (Model.CurrentYear.HasValue)
    {
        <span class="separator">/</span>    
        <a href="@Url.Action("Index", "Sources", new { year = Model.CurrentYear, category = Model.CurrentCategoryId })">@Model.CurrentYear.Value</a>
    }
        
    @if (!string.IsNullOrEmpty(Model.CurrentOrigin))
    {
        <span class="separator">/</span>    
        <span>@Model.CurrentOrigin</span>
    }
}

<div class="col-md-8 sources-main">

    <div class="row alphabet-sort">
               
        <div class="alphabet-letter clear">
            <a href="@Url.Action("Index", "Sources", new {year = Model.CurrentYear, category = Model.CurrentCategoryId})">
                <i class="fa fa-asterisk"></i>
            </a>
        </div>

        @foreach (var letter in Model.OriginFilter)
        {
            <div class="alphabet-letter @(Model.CurrentOrigin == letter ? "active" : "")">
                <a href="@Url.Action("Index", "Sources", new { origin = WebUtility.UrlEncode(letter), year = Model.CurrentYear, category = Model.CurrentCategoryId })">@letter</a>
            </div>
        }

    </div>

    <div id="list-source" class="content" role="main">
        
        @if (Model.Records.Any())
        {
            foreach (var source in Model.Records)
            {
                @await Html.PartialAsync("_Source", source)
            }
        }
        else
        {
            <p>
                Няма намерени резултати за избраните критерии.
            </p>
        }

        @await Html.PartialAsync("_Paging", Model)
    </div>    
    
</div>

<aside class="col-md-4 blog-aside">

    <div id="category-filter" class="aside-widget">
        <header>
            <h3>По категории</h3>
        </header>
        <div class="body">
            <ul class="tales-list category-list">

                <li>
                    <a class="category @(Model.CurrentCategoryId == null ? "active" : "")" href="@Url.Action("Index", "Sources", new { year = Model.CurrentYear })">
                        Всички
                    </a>
                </li>
                                    
                @foreach (var filter in Model.CategoriesFilter)
                {
                    <li>
                        <a class="category @(Model.CurrentCategoryId == filter.CategoryId ? "active" : "")" href="@Url.Action("Index", "Sources", new { category = filter.CategoryId, year = Model.CurrentYear })">
                            @filter.Category (@filter.Count)                                
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>

    <div id="release-year-filter" class="aside-widget">
        <header>
            <h3>По години</h3>
        </header>
        <div class="body">
            <ul class="tales-list">
                <li>
                    <a class="category @(Model.CurrentYear == null ? "active" : "")" href="@Url.Action("Index", "Sources", new { category = Model.CurrentCategoryId })">
                        Всички
                    </a>
                </li>
                    
                @foreach (var filter in Model.YearFilter)
                {
                    <li>
                        <a class="category @(Model.CurrentYear == filter.Year ? "active" : "")" href="@Url.Action("Index", "Sources", new { year = filter.Year, category = Model.CurrentCategoryId })">
                            @filter.Year (@filter.Count)                                
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>

</aside>