@model SourceSearchViewModel

@{
    ViewData["Title"] = "Търсене";
    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

@section breadcrumb {
    <a href="@Url.Action("Search", "Sources", new { q = Model.SearchQuery })">Търсене</a>

    <span class="separator">/</span>

    <span>@Model.SearchQuery</span>
}

<div class="col-md-8 blog-main">
    <div id="list-source" class="content" role="main">

        @if (Model.Records.Any())
        {
            foreach (var source in Model.Records)
            {
                <div class="row source-row">
                    @if (string.IsNullOrEmpty(source.AuthorAvatarPath))
                    {
                        @await Html.PartialAsync("_Source", source, new ViewDataDictionary(ViewData)
                        {
                            { "HideOperations", false }
                        })
                    }
                    else
                    {
                        <div class="col-sm-2 source-image">
                            <img src="@Url.Content(source.AuthorAvatarPath)" class="img-responsive" alt="@source.AuthorDisplayName">
                        </div>

                        <div class="col-sm-10 source-info-wrapper">
                            @await Html.PartialAsync("_Source", source, new ViewDataDictionary(ViewData)
                            {
                                { "HideOperations", true }
                            })
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <p>
                Няма намерени резултати за избраните критерии.
            </p>
        }

        @await Html.PartialAsync("_Paging", Model)

    </div>
</div>

<aside class="col-md-4 blog-aside">
    <div class="aside-widget">
        <header>
            <h3>Резултати</h3>
        </header>

        <div class="body">
            <p>За ключовите думи '@Model.SearchQuery' бяха намерени <b>@Model.TotalRecords</b> резултата.</p>
            <p>
                Ако не намирате това което търсите, може да повторите търсенето и за
                <ul class="tales-list">
                    <li><a href="@Url.Action("Search", "Issues", new {q = Model.SearchQuery})">броеве</a></li>
                    <li><a href="@Url.Action("Search", "EPages", new { q = Model.SearchQuery })">е-страници</a></li>
                    <li><a href="@Url.Action("Search", "Posts", new { q = Model.SearchQuery })">новини</a></li>
                    @if (User.IsAtLeast(StranitzaRoles.Editor))
                    {
                        <li><a href="@Url.Action("Search", "Users", new { q = Model.SearchQuery })">потребители</a></li>
                    }
                </ul>
            </p>
        </div>
    </div>

    <div class="aside-widget">
        <header>
            <h3>Предложения</h3>
        </header>

        <div class="body">
            @await Html.PartialAsync("_Suggestions", StatsService.GetSourcesSuggestions())
        </div>
    </div>

    <hr />

    <div class="aside-widget image">

        <div class="body">
            <div class="aside-image-wrapper">
                <a href="@Url.Content("~/images/plovdiv_capital_of_culture_white.jpg")" target="_blank">
                    <img src="@Url.Content("~/images/plovdiv_capital_of_culture_white.jpg")" alt="Европейска столица на културата - 2019" />
                </a>
            </div>
        </div>
    </div>
</aside>
