@model UserDetailsViewModel

@{
    var userDetailsUrl = Url.Action("Details", "Users", new { id = Model.Id });
}

<div class="col-md-2 col-sm-4 image">
    <a href="@userDetailsUrl" target="_blank">
        <img src="@Url.Content(Model.AvatarPath)" class="img-responsive" alt="@Model.DisplayName">
    </a>
</div>

<div class="col-md-8 col-sm-8 details">
    <h3>
        <a href="@userDetailsUrl" target="_blank">
            @Model.DisplayNameOnly
        </a>
    </h3>


    <div class="author">
        <span class="bold">Псевдоним: </span>
        <span>
            @Model.UserName
        </span>
    </div>

    <div class="email">
        <span class="bold">Email:</span>
        <span>
            <a href="mailto:@Model.Email" target="_blank">
                @if (Model.EmailConfirmed)
                {
                    @Model.Email
                }
                else
                {
                    <i>@Model.Email</i>
                }
            </a>
        </span>
    </div>

    @if (Model.IsAuthor)
    {
        <div class="author bg-success">
            <span class="bold">Автор: </span>
            <span>
                @Model.Names
            </span>
        </div>
    }
    else
    {
        <div class="author">
            <span class="bold">Имена: </span>
            <span>
                @Model.Names
            </span>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.PhoneNumber) && Model.PhoneNumberConfirmed)
    {
        <div class="phone">
            <span class="bold">Телефон: </span>
            <span>
                @Model.PhoneNumber
            </span>
        </div>
    }

    @if (Model.LockoutEnd.HasValue && Model.LockoutEnd.Value > DateTimeOffset.UtcNow)
    {
        <div class="date text-danger">
            <span class="bold">Забранен до: </span>
            <span>
                @Model.LockoutEnd.Value.LocalDateTime.ToString("dd.MM.yyyy HH:mm")
            </span>
        </div>
    }

    <div class="date">
        <span class="bold">Последна промяна: </span>
        <span>
            @Model.LastUpdated.ToString("dd.MM.yyyy HH:mm")
        </span>
    </div>

    <div class="date">
        <span class="bold">Създаден: </span>
        <span>
            @Model.DateCreated.ToString("dd.MM.yyyy HH:mm")
        </span>
    </div>

</div>