@model UserDetailsViewModel

@{
    ViewData["Title"] = "Редакция на потребителски профил";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section breadcrumb {

    <a asp-page="/Account/Manage/Admin" asp-area="Identity">Администрация</a>

    <span class="separator">/</span>

    <a asp-action="Index" asp-controller="Users">Потребители</a>

    <span class="separator">/</span>

    <a asp-action="Details" asp-controller="Users" asp-route-id="@Model.Id">@Model.DisplayNameOnly</a>

    <span class="separator">/</span>

    <a asp-action="Edit" asp-controller="Users" asp-route-id="@Model.Id">Редакция</a>
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAuthor" /> @Html.DisplayNameFor(model => model.IsAuthor)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DisplayNameType" class="control-label"></label>
                <select asp-for="DisplayNameType" class="form-control"></select>
                <span asp-validation-for="DisplayNameType" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DisplayEmail" /> @Html.DisplayNameFor(model => model.DisplayEmail)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AvatarType" class="control-label"></label>
                <select asp-for="AvatarType" class="form-control"></select>
                <span asp-validation-for="AvatarType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookAvatarPath" class="control-label"></label>
                <input asp-for="FacebookAvatarPath" class="form-control" />
                <span asp-validation-for="FacebookAvatarPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterAvatarPath" class="control-label"></label>
                <input asp-for="TwitterAvatarPath" class="form-control" />
                <span asp-validation-for="TwitterAvatarPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleAvatarPath" class="control-label"></label>
                <input asp-for="GoogleAvatarPath" class="form-control" />
                <span asp-validation-for="GoogleAvatarPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternalAvatarPath" class="control-label"></label>
                <input asp-for="InternalAvatarPath" class="form-control" />
                <span asp-validation-for="InternalAvatarPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdated" class="control-label"></label>
                <input asp-for="LastUpdated" class="form-control" />
                <span asp-validation-for="LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailConfirmed" /> @Html.DisplayNameFor(model => model.EmailConfirmed)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PhoneNumberConfirmed" /> @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="LockoutEnd" class="control-label"></label>
                <input asp-for="LockoutEnd" class="form-control" />
                <span asp-validation-for="LockoutEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccessFailedCount" class="control-label"></label>
                <input asp-for="AccessFailedCount" class="form-control" />
                <span asp-validation-for="AccessFailedCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScripts");}
}
