@model IssueIndexViewModel

<div class="blog-teaser-container col-sm-12 col-lg-6">
    <article class="blog-teaser">
        <header>
            <div class="thumbnail">
                @if (Model.CoverPage != null)
                {
                    <a href="@Url.GetGallerySlide(Model.Id, Model.CoverPage.SlideNumber)" class="display-page" id="display-page-@Model.CoverPage.Id">
                        <img src="@Url.Action("Load", "Pages", new {id = Model.CoverPage.Id, thumb = true})" alt="@Model.GetIssueTitlePrefixed() корица" class="img-responsive squared" />
                    </a>
                }

                @if (Model.IndexPage != null)
                {
                    <a href="@Url.GetGallerySlide(Model.Id, Model.IndexPage.SlideNumber)" class="display-page" id="display-page-@Model.IndexPage.Id">
                        <img id="display-page-@Model.IndexPage.Id" src="@Url.Action("Load", "Pages", new {id = Model.IndexPage.Id, thumb = true})" alt="@Model.GetIssueTitlePrefixed() съдържание" class="img-responsive squared" />
                    </a>
                }
            </div>

            <h3><a class="display-issue" href="@Url.Action("Details", "Issues", new {id = Model.Id})">@Model.GetIssueTitle()</a></h3>

            <hr />
        </header>

        <div class="body">

            <p>
                @if (!string.IsNullOrWhiteSpace(Model.Description))
                {
                    @Html.BreakNewLines(Model.Description)

                    <br>
                }

                @if (Model.HasPdf)
                {
                    var availablePages = Model.AvailablePages == null ? "0" 
                        : Model.PagesCount == Model.AvailablePages.Length ? 
                            "всички" : Model.AvailablePages.Length.ToString();

                    @:Броят е <b>достъпен в PDF</b> вариант. Общият брой на страниците е <b>@Model.PagesCount</b>, от които <i class="text-success">@(availablePages)</i> със свободен достъп за регистрирани потребители и @Model.ImagesCount изображения достъпни за <i class="text-success">всеки посетител</i>.
                }
                else
                {
                    @:Страниците са достъпни само като <b>изображения</b>. Общият брой на страниците е <b>@Model.ImagesCount</b>.
                }

                Броят е преглеждан @Model.ViewCount пъти и е свалян @Model.DownloadCount.
            </p>

            @*<small>
            PDF: @(Model.PdfFile != null ? "Да" : "Не")<br>
            Страници: @Model.PagesCount<br>
            Преглеждан: @Model.ViewCount<br>
            Свалян: @Model.DownloadCount<br>
            </small>    *@
        </div>

        <div class="clearfix">
            <a href="@Url.Action("Details", "Issues", new {id = Model.Id})" class="btn btn-tales-one">
                Виж броя
            </a>
        </div>
    </article>
</div>
